:root{
    --nav-bg: #1c1c1c;
    --image: url(http://192.168.123.103/img/fondo.jpg) ;
    --color: whitesmoke;
    --content-bg: #bdbbb6;
    --content-height: 100vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    background-image: var(--image);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
    color: var(--color);
    min-height: 100vh;
    width: 100%;
}
#out_nav{
    display: flex;
    width: 100%;
    height: min-content;
    background-color: var(--nav-bg);
    opacity:0.8;
}
#nav{
    height: min-content;
    width: min-content;
    margin: 0 auto;
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
}
#nav div{
    display: block;
    height: min-content;
    width: min-content;
    padding: 10px;
}
#content{    
    padding: 15px;
    width: 68%;
    min-height: calc(var(--content-height) - 47px);
    margin: 0 auto;
    background-color: var(--content-bg);
    opacity: 0.98;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}